[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
uvicorn = "*"

[packages]
fastapi = {extras = ["all"], version = "*"}
asyncio = "*"
pydantic = "*"
scylla-driver = "*"
pyyaml = "*"
srp = {git = "https://github.com/cocagne/pysrp"}

[requires]
python_version = "3.9.2"
