[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
uvicorn = "*"
requests = "*"

[packages]
fastapi = {extras = ["all"], version = "*"}
asyncio = "*"
pydantic = "*"
scylla-driver = "*"
pyyaml = "*"
srp = {git = "https://github.com/cocagne/pysrp", ref = "1.0.17"}
redis = {git = "https://github.com/andymccurdy/redis-py", ref = "4.0"}

[requires]
python_version = "3.9.2"
